<!-- navbar -->
<header class="head">
    <div class="navbar-fixed">
        <nav class="nav-wrapper blue-grey darken-4">
            <div class="container">
            <a href="" routerLink ="/"class="brand-logo white-text">GradBank</a>  
            <ul class="right hide-on-med-and-down">
                <li><a href="#" routerLink = "/home" >Features</a></li>
                <li><a href="#contact" routerLink = "/">Contact</a></li>
                <li><a href="#" routerLink ="/">Online Banking</a></li>
                <li><a href="#about" routerLink = "/">About</a></li>
            </ul>       
  
         </div>
         
    </nav>       
        </div>
        
  
    </header>