<div class="container">
  <div class="row transactions">
    <div class="col s12 l6">
      <div class="card">
        <div class="card-image">
          <img src="../../assets/img/creditcard.jpg" alt="">
          <a href="#" class="halfway-fab btn-floating gray">
            <i class="material-icons">credit_card</i>
          </a>
        </div>
        <div class="card-content">
          <span class="card-title">Credit Cards</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis aliquam orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
        <div class="card-action">
          <a href="#" class="teal-text">More details</a>
        </div>
      </div>
    </div>
    <div class="col s12 l6">
      <div class="card">
        <div class="card-image">
          <img src="../../assets/img/debitcard.jpg" alt="">
          <a href="#" class="halfway-fab btn-floating gray">
            <i class="material-icons">credit_card</i>
          </a>
        </div>
        <div class="card-content">
          <span class="card-title">Debit Cards</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis aliquam orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
        <div class="card-action">
          <a href="#" class="teal-text">More details</a>
        </div>
      </div>
    </div>
  </div>
</div>
