
<div class="warm">
  <div class="container locator">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel transparent z-depth-5">
        <div class="row valign-wrapper">
          <div class="col s4">
            <img src="../../assets/img/elton-john.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
          </div>
          <div class="col s5 offset-s1">
              <div class="card blue-grey darken-4">
                  <div class="card-content white-text">
                    <span class="card-title">Elton John</span>
                    <p>Hi. Welcome to VoiceBank! <br>I am Elton and I shall assist you shortly.</p>
                  </div>
                  <div class="card-action">
                    <a>Contact</a>
                    <a>Feedback</a>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





