  <div class="head">
    <div class="container transactions">
        <table class="white-text highlight z-depth-5">
            <thead class="teal">
              <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Date</th>
                  <th>Type</th>
                  <th>Reference</th>
                  <th>ID</th>

              </tr>
            </thead>

            <tbody class="black">
              <tr *ngFor="let transaction of transactions">
                <td>{{transaction.name}}</td>
                <td>{{transaction.price}}</td>
                <td>{{transaction.date}}</td>
                <td>{{transaction.type}}</td>
                <td>{{transaction.reference}}</td>
                <td>{{transaction._id}}</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
