  <div class="head">
    <div class="container transactions">
        <table class="white-text highlight z-depth-5">
            <thead class="teal">
              <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Type</th>
                  <th>Reference</th>
                  <th>ID</th>

              </tr>
            </thead>

            <tbody class="black">
              <tr>
                <td>Alvin</td>
                <td>$300.57</td>
                <td>Credit</td>
                <td>Gift</td>
                <td>123123</td>
              </tr>
              <tr>
                <td>Alvin</td>
                <td>$300.57</td>
                <td>Credit</td>
                <td>Gift</td>
                <td>123123</td>
              </tr>
              <tr>
                <td>Alvin</td>
                <td>$300.57</td>
                <td>Credit</td>
                <td>Gift</td>
                <td>123123</td>
              </tr>
              <tr>
                <td>Alvin</td>
                <td>$300.57</td>
                <td>Credit</td>
                <td>Gift</td>
                <td>123123</td>
              </tr>



            </tbody>
          </table>
    </div>
  </div>
