
<div class="black">
    <div class="head">
      <app-offer-cards></app-offer-cards>
       </div>

        <section class="section container scrollspy" id="services">
            <div class="row">
                    <ul class="tabs">
                        <li class="tab col s12 l4 black">
                            <a href="#service1" class="white-text">
                                Voice Control
                            </a>
                        </li>

                        <li class="tab col s12 l4 black">
                                <a href="#service2" class="white-text">
                                    Biometric Authentication
                                </a>
                        </li>

                        <li class="tab col s12 l4 black">
                                <a href="#service3" class="white-text">
                                    Enhanced Customer Service
                                </a>
                        </li>

                   </ul>


                   <div class="col s12" id="service1">
                        <div class="row">
                                <div class="col s12 l4">
                                    <img src="../../assets/img/speech-gif.gif" alt=""class="responsive-img">
                                </div>
                                <div class="col s12 l6 white-text offset-l1">
                                    <h2><span class="blue-grey-text text-darken-2">Voice<br> Control</span></h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis tenetur recusandae repellat odio exercitationem
                                        emporibus delectus itaque aperiam eos rem eaque commodi eius.</p>
                                </div>
                        </div>
                    </div>

                   <div class="col s12" id="service2">
                        <div class="row">
                                <div class="col s12 l4">
                                    <img src="../../assets/img/facerecog-gif.gif" alt=""class="responsive-img ">
                                </div>
                                <div class="col s12 l6 white-text offset-l1">
                                    <h2><span class="blue-grey-text text-darken-2">Biometric Authentication</span></h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis tenetur recusandae repellat odio exercitationem
                                        emporibus delectus itaque aperiam eos rem eaque commodi eius.</p>
                                </div>
                            </div>
                    </div>
                    <div class="col s12" id="service3">
                            <div class="row">
                                    <div class="col s12 l4">
                                        <img src="../../assets/img/customer-service.gif" alt=""class="responsive-img">
                                    </div>
                                    <div class="col s12 l6 white-text offset-l1">
                                        <h2><span class="blue-grey-text text-darken-2">Enhanced Customer Service</span></h2>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis tenetur recusandae repellat odio exercitationem
                                            emporibus delectus itaque aperiam eos rem eaque commodi eius.</p>
                                    </div>
                            </div>
                    </div>


                </div>

        </section>

    </div>

    <div class="parallax-container">
            <div class="parallax" id="parallax-1"><img src="../../assets/img/city1.jpg"></div>
    </div>

    <app-getintouch></app-getintouch>

    <div class="parallax-container">
            <div class="parallax" id="parallax-2"><img src="../../assets/img/bank-1.jpg"></div>
    </div>
